<div class="sidebar" id="sidebar">
  <div class="container sidebar-sticky"> <!-- class="container sidebar-sticky" -->	
    <div class="sidebar-about">       
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>      
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--span class="sidebar-nav-item">Currently v{{ site.version }}</span-->
      <a class="sidebar-nav-item" href="https://forms.gle/ZiwWooYrUdjiKDnB6" target="_blank">Project submission</a>
    </nav>

	<div class="sidebar-item">
		<h4 style="color: white"></h4>
	    <br/><br/>    
	</div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
